$bold: 700;
$negro: #1a1915;
$negro-fondo:#030822;
$amarillo: #b28442;
$amarillo-fondo:#bc8d4b;
$blanco: #ffffff;
$marron: #8d3726;
$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$gris:#9b9898;
$fuente-principal: "Montserrat", "sans-serif";
$fuente-secundaria: "Times-Roman", "serif";
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;